/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

.namebar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.namebar img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 20%;
  max-width: 100%;
}

.sdc {
  font-size: 15px;
  text-align: left;
  color: white;
}

.navbar {
  background-color: #444;
  padding: 1em;
  text-align: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.2s ease;
}

.navbar a:hover {
  color: lightcyan;
}

.navbar a.active {
  color: #f9f9f9;
  font-weight: bold;
}

.head1 {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  color: green;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.service {
  margin: 20px;
  width: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  max-width: 100%;
}

.service button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.service button a {
  text-decoration: none;
  color: #fff;
}

.service button:hover {
  background-color: #444;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
}

.footericon {
  margin-bottom: 10px;
}

.footericon a {
  color: #fff;
  margin-right: 10px;
  font-size: 30px;
}

.foot {
  font-size: 18px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .namebar img {
    width: 70px;
    height: 70px;
  }
  .sdc {
    font-size: 25px;
  }
  .service {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .namebar img {
    width: 50px;
    height: 50px;
  }
  .sdc {
    font-size: 18px;
  }
  .navbar {
    padding: 0.2em;
  }
  .navbar a {
    font-size: 14px;
    margin-right: 5px;
  }
  .head1 {
    font-size: 18px;
  }
  .service {
    width: 100%;
  }
}
